{% load static %}

<div class="single-sidebar-widget user-info-widget">
    <img src="{% static 'img/blog/user-info.png' %}" alt="">
    <a href="#">
        <h4>Deep</h4>
    </a>
    <p>
        Begginer Programmer
    </p>
    <ul class="social-links">
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-github"></i></a></li>
        <li><a href="#"><i class="fa fa-behance"></i></a></li>
    </ul>
    <p>
        👋🏻 Hi, I'm Deep | Python & Django (Beginner–Intermediate) | SQL, Git/GitHub, Postman | Always learning 🚀
    </p>
</div>